.{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
        line-height: 1.5;
}
/* <!-- start navigation bar --> */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav{
    font-weight: 500;
   
}

.bg-light {
    background-color: #f8f9fa!important;
    padding: 25px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 25px;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 200px;
}
.navbar-light .navbar-brand {
    color: #0061F2;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: gray;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0061F2;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 518px;
    width: 135px;
    height: 45px;
}

/* <!-- end navigation bar --> */


/* <!-- start home --> */

#home{
    background-image: linear-gradient(135deg,#0061f2,rgba(105,0,199,.8));
    
}
.text1{
    padding-top: 20%;
    color: white;

}
.text2{
    color: hsla(0,0%,100%,.5)!important;
    font-size: 20px;
}
.para{
   font-size: 12px;
    color: hsla(0,0%,100%,.5)!important;
    margin-top: 12px;
}
.app{
    height: 45px;
    width: 150px;
    margin-top: 10px;
}
.ia{
    height: 45px;
    width: 150px;
    margin: -9px;
}
.google{
    height: 45px;
    width: 160px;
    margin-left: 20px;
}
.ig{
    height: 45px;
    width: 160px;
    margin: -9px;
}


/*<!-- end home -->*/

/*<!------- landing part start---------->*/

#landing{
    padding: 80px 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 120px;
}


.lead {
    font-size: 18px;
    font-weight: 300;
    color: gray;
}
/*<!------- landing part end---------->*/


/*<!------- social part start---------->*/

.social{
    padding-bottom: 50px;
    padding-top: 50px;
}
.Head-Engineering{
    margin-top: -15px;
    color: gray;
    font-size: 16px;
}
.text-primary {
    color: #007bff!important;
    font-size: 23px;
}

/*<!------- social media part end---------->*/

/*<!------- pages part start---------->*/

#pages{
    padding-bottom: 70px;
    background-color: #EFF3F9;
}
.distance{
    padding: 20px;
}
.imges-page{
    transition: 0.3s;
    margin-top: -110px;
}
.imges-page:hover{
    transform: translateY(-10px);
}
.text-primary2 {
    color: #007bff!important;
    font-size: 13px;
    font-weight: bold;
}
/*<!------- pages part end---------->*/

/*<!---------download part start------------>*/
.download-part{
    padding: 70px 0;
}
.text-dark{
    color: #343a40!important;
    margin-top: -112px;
    font-size: 20px;
}
.text-secondary{
    font-size: 20px;
}
.google2{
        margin-left: 20px;
}
.app2{
        margin-left: 200px;
}



#documentation{
    background-color: #1F2D41;
    padding: 70px;
}
.FOOTER{
    padding: 20px;
}
.text-f1{
    color: darkgrey;
    font-size: 19px;
}
.foter-icon{
    margin-top: -10px;
   width: 150px;
    color: darkgray;
   
}
.text-f2{
    color: darkgray;
    font-size: 15px;
}
a {
    color: darkgray;
    text-decoration: none;
    background-color: transparent;
}
#foter-icon1{
  padding: 3px;
    font-size: 23px;
}
#Documention li a{
    color: #7699B3;
   font-size: 18px;
    
}
.foter-para1{
   color: darkgray;
    font-size: 17px;
}
.horaizontal{
  background-color: darkgray; 
}
.text-copyright{
   color: darkgray; 
font-size: 17px;
}
.link{
    color: darkgrey;
    
}
.link:hover{
    color: darkgray;
}
.mt-4, .my-4 {
    margin-top: -5.5rem!important;
}